body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 2vw;
}
h2 {
  font-weight: bold;
  font-family: arial;
}
#paragraph2 {
  background-color: white;
  width: 600px;
  border: 10px ;
  padding: 50px;
  margin: 20px;
  line-hight: 2.0;
}
  
table th, td {
  border: 1px solid;
  padding: 10px;
  
}

table {
  border-collapse: collapse;
}

th {
  background-color: gray;
}

td {
  background-color: white;
}
