body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 3vw;
}
h2 {
  font-weight: bold;
  font-family: arial;
}
#paragraph2 {
  background-color: white;
  width: 900px;
  border: 8px solid green;
  padding: 30px;
  margin: 20px;
  line-height: 2.0;
}

.blue {
  background-color: darkblue;
  color: white;
  padding: 15px;
  border: 1px;
}
  
table th, td {
  border: 1px solid;  
}

table {
  border-collapse: collapse;
}

th {
  background-color: gray;
}

td {
  background-color: white;
  padding: 10px;
}
