body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 2vw;
}
h2 {
  font-weight: bold;
  font-family: arial;
}
p id=paragraph2 {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-left: 15px;
}
  
