body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 2vw;
}
h2 {
  font-weight: bold;
  font-family: arial;
}
p id="paragraph2" {
  background-color: white;
  width: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
  
table th, td {
  border-collapse: collapse;
  padding: 10px;
  
  
}
