* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
}

#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    background-color: #d8ab2d; 
    padding: 20px;
}

#jumpMenu h2 {
    text-align: center;
    margin-bottom: 20px;
}

#jumpMenu a {
    display: block;
	text-align: center;
    margin: 18px 0;
    color: blue;
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    height: 120px;
    background-color: red;
    z-index: 1000;
}

header p {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-top: 15px;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
	background-color: black;
}

header nav button {
    background-color: blue;
    color: white;
    border: none;
    padding: 15px 40px;
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
}


main {
    margin-left: 15%;
    padding-top: 160px; 
    padding-left: 40px;
    padding-right: 40px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
}

article {
    width: 300px;
    line-height: 1.6;
}

article h2 {
    margin-bottom: 10px;
}

article a {
    color: blue;
    text-decoration: underline;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #8fd0f5;
    padding: 20px;
    font-size: 24px;
    border: 1px solid black;
}

footer {
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid black;
}
