body {
  margin: 0;
  background-color: powderblue; 
}

p {
	font-size: 16px;
}

/* Desktop: 413px and up */
@media (min-width: 413px) {
  body {
    background-color: lavender;
  }
  
  p {
	  font-size: 20px;
  }
  
  h2 {
	  font-size: 30px;
  }
  
  h1 {
	  font-size: 40px;
  }
}
